<%= form_for :receipt do |f| %>
  <div class="form-group">
    <%= f.label(:receipt, :display_name) %>
    <%= f.text_field :display_name %>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <%= f.submit %>
<% end %>
