/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$navbar-light-color: #fff;
$navbar-light-bg: #a8a8b8;
$navbar-light-border: #191717;
$navbar-light-link-color: #ffffff;
$navbar-light-link-hover-color: #eeeeee;
$snavbar-light-link-active-bg: darken($navbar-light-bg, 5%);
$navbar-light-active-color: #eee;

@import 'bootstrap';
.bg-purple{
  background-color: $navbar-light-bg;
}

.padded {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);

  h2 {
    text-align: center;
  }

  input[type="text"], input[type="submit"], input[type="email"], input[type="password"] {
    width: 100%;
  }

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

@import 'bootstrap-datepicker'
