<%= form_for @receipt do |f| %>
  <div class="form-group">
    <%= f.label :display_name, 'Title' %>
    <%= f.text_field :display_name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :purchase_date, 'Date' %>
    <%= f.text_field :purchase_date, 'data-provide': 'datepicker', :class => 'form-control' %>
  </div>

  <div class="form-group items">
    <div class="row">
      <div class="col-sm-2">
        Qty.
      </div>
      <div class="col-sm-6">
        Description
      </div>
      <div class="col-sm-2">
        Price
      </div>
      <div class="col-sm-2">
      </div>
    </div>

    <%= f.simple_fields_for :items do |item| %>
      <%= render 'item_fields', :f => item %>
    <% end %>

    <div>
      <%= link_to_add_association '+', f, :items, :class => 'btn btn-secondary float-right' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tax_rate, 'Tax Rate (%)' %>
    <%= f.text_field :tax_rate, :class => 'form-control' %>
  </div>


    <div class="form-group">
      <%= f.label :payment_type, 'Payment Type' %>
      <%= f.select :payment_type, options_for_select([["Cash", 0], ["Debit Card", 1], ["Credit Card", 2]]), {}, { :class => 'form-control' } %>
    </div>

  <%= f.submit 'Submit', :class => 'btn btn-primary' %>
<% end %>
