<div class="row">
  <div class="col-sm-2">
    <%= f.text_field :quantity, :class => 'form-control' %>
  </div>
  <div class="col-sm-6">
    <%= f.text_field :description, :class => 'form-control' %>
  </div>
  <div class="col-sm-2">
    <%= f.text_field :price, :class => 'form-control' %>
  </div>
  <div class="col-sm-2">
  </div>
</div>
