<div class="row">
  <div class="col-sm-2">
    <%= item.quantity %>
  </div>
  <div class="col-sm-6">
    <%= item.description %>
  </div>
  <div class="col-sm-2">
    <%= number_to_currency(item.price) %>
  </div>
  <div class="col-sm-2">
    <%= number_to_currency(item.amount) %>
  </div>
</div>
