<div class="row justify-content-center">
  <div class="col-sm-6">
    <h2>
      Receipts for <%= current_user.email %>
    </h2>

    <div class="row">
      <% @receipts.each do |receipt| %>
        <div class="col-sm-6">
          <%= link_to receipt.display_name, receipt_url(receipt) %>
        </div>
        <div class="col-sm-3">
          <%= receipt.purchase_date.strftime('%m/%d/%Y') %>
        </div>
        <div class="col-sm-3">
          <%= link_to 'Edit', edit_receipt_url(receipt) %>
          <%= link_to 'Delete', receipt_url(receipt), :method => 'delete', data: {confirm: "Are you sure you want to delete the receipt?"} %>
        </div>
      <% end %>
    </div>

    <div class="row" style="padding-top:20px">
      <%= link_to 'New Receipt', new_receipt_url, :class => 'btn btn-primary' %>
    </div>
  </div>
</div>
