<div class="row justify-content-center">
  <div class="col-sm-6">
    <h2>
      <%= @receipt.display_name %> - <%= @receipt.purchase_date.strftime('%m/%d/%Y') %>
    </h2>

    <div class="row">
      <div class="col-sm-2">
        Qty.
      </div>
      <div class="col-sm-6">
        Description
      </div>
      <div class="col-sm-2">
        Price
      </div>
      <div class="col-sm-2">
        Amount
      </div>
    </div>

    <%= render partial: 'item', collection: @receipt.items %>

    <hr />

    <div class="row">
      <div class="col-sm-8"> </div>
      <div class="col-sm-2">
        Subtotal
      </div>
      <div class="col-sm-2">
        <%= number_to_currency(@receipt.items.sum(&:amount)) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8"> </div>
      <div class="col-sm-2">
        Tax (<%= number_to_percentage(@receipt.tax_rate, :strip_insignificant_zeros => true) %>)
      </div>
      <div class="col-sm-2">
        <%= number_to_currency(@receipt.items.sum(&:amount) * @receipt.tax_rate / 100) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8"> </div>
      <div class="col-sm-2">
        Total
      </div>
      <div class="col-sm-2">
        <%= number_to_currency(@receipt.items.sum(&:amount) + @receipt.items.sum(&:amount) * @receipt.tax_rate / 100) %>
      </div>
    </div>
  </div>
</div>
