<!DOCTYPE html>
<html>
  <head>
    <title>Receipt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

  <nav class="navbar navbar-toggleable-md navbar-light bg-purple">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Receipts</a>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Receipts', receipts_url, :class => "nav-link" %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Settings',  edit_user_registration_url, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out',  destroy_user_session_url, :class => "nav-link", :method => :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In',  new_user_session_url, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Register',  new_user_registration_url, :class => "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
    <% if flash[:notice] != nil %>
    <p class="notice alert alert-success" role="alert"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] != nil %>
    <p class="alert alert-danger"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
